/* 480px-320px */
@media (max-width: 480px) {
  /* container-style */
  .container {
    padding: 32px 20px;
  }
  /* ---------------------------section--------------------- */
  .container-section {
    padding: 16px;
  }
  h2 {
    margin-bottom: 40px;
  }
  /* <!------------ form -----------------> */
  form {
    row-gap: 36px;
  }
  /* -----------------address-------------------- */
  .section-address-and-iframe-container {
    row-gap: 40px;
  }
  address {
    column-gap: 42px;
  }
  /* --------------------iframe------------------- */
  iframe {
    height: 200px;
  }
}
@media (max-width: 376px) {
  /* container-style */
  .container {
    padding: 16px 8px;
  }
  /* ---------------------------section--------------------- */
  .container-section {
    padding: 16px 8px;
    row-gap: 48px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }
  /* <!------------ form -----------------> */
  form {
    row-gap: 24px;
  }
  /* -----------------address-------------------- */
  .section-address-and-iframe-container {
    row-gap: 24px;
  }
  address {
    column-gap: 42px;
  }
  /* --------------------iframe------------------- */
  iframe {
    height: 200px;
  }
}
