/* 1440px */
@import url(variable.css);
/* container-style */
.container {
  width: min(100%, 1440px);
  margin: auto;
  padding: 64px 140px;
  background-image: url(../images/Rectangle\ 3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
/* ---------------------------section--------------------- */
.container-section {
  width: 100%;
  padding: 40px;
  background-color: var(--primary-color-black);
  display: flex;
  align-items: center;
  border-radius: 20px;
  border-width: 1px;
  border: 1px solid var(--secondary-color-violet);
  backdrop-filter: blur(10px);
  column-gap: 66px;
}
.section-header-and-form-container {
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-form-input-container {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
h2 {
  font-family: var(--font-family-main);
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 4px;
  vertical-align: middle;
  color: #ffffff;
  text-shadow: 2px 4px 4px var(--secondary-color-light-pink);
  margin-bottom: 80px;
}
/* <!------------ form -----------------> */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}
.input-1,
.input-2 {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border-width: 1px;
  border: 1px solid var(--secondary-color-light-violet);
  cursor: pointer;
}
.input-1,
.input-2,
textarea::placeholder {
  font-family: var(--font-family-main);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--secondary-color-grey);
  background: transparent;
}
.section-form-textarea-container {
  display: flex;
  flex-direction: column;
}
.section-form-textarea-label {
  font-family: var(--font-family-main);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--primary-color-white);
  margin-bottom: 8px;
}
textarea {
  width: 100%;
  height: 112px;
  border-radius: 8px;
  border-width: 1px;
  border: 1px solid var(--secondary-color-light-violet);
  resize: none;
  color: var(--secondary-color-grey);
  background: transparent;
  cursor: pointer;
}
.section-form-button {
  width: 100%;
  height: 64px;
  border: none;
  border-radius: 16px;
  background-color: var(--primary-color-pink);
  color: var(--primary-color-white);
  font-family: var(--font-family-main);
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 26px;
  vertical-align: middle;
  cursor: pointer;
}
/* -----------------address-------------------- */
.section-address-and-iframe-container {
  width: 494px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}
address {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 72px;
}
.section-adress-button-link {
  width: 48px;
  height: 48px;
}
.section-adress-button {
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 8px;
  border-width: 2px;
  border: 2px solid var(--primary-color-white);
  background-color: var(--primary-color-pink);
  cursor: pointer;
}
.section-adress-button-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* --------------------iframe------------------- */
iframe {
  width: 100%;
  height: 338px;
  border-radius: 10px;
}
